$images_folder: '/images';
$background-image: url(#{$images_folder}/fond.jpeg);
$header_bg: #003D73;
$footer_bg: #244159;
$primary: rgb(60, 140, 255);
$vert: #79FF94;
$black: #000000;
$white: #FFFFFF;
$rouge: rgb(220, 53, 69);
$backdrop_blur1: blur(5px);
$backdrop_blur2: blur(10px);