.oleo-script {
  font-family: "Oleo Script Swash Caps", system-ui;
  font-weight: 400;
  font-style: normal;
}

.open-sans-regular {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.open-sans-bold {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.open-sans-bolditalic {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

nav.header, .bg-header {
  background-color: #003D73;
}

main {
  background-image: url(/images/fond.jpeg);
  background-size: cover;
  background-position-x: center;
  min-height: auto;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container-fluid {
  height: 100%;
}

footer {
  background-color: #244159;
  bottom: 0 !important;
}

header *, footer *, main * {
  font-family: "Open Sans", sans-serif;
}

.paragraphe-titre {
  line-height: 1.2;
}

div.carte-transparente {
  background-color: rgba(0, 0, 0, 0.65);
  border: 0;
  border-radius: 15px;
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
}

.form-control {
  background-color: rgba(0, 0, 0, 0.5);
}

label.required:before {
  content: "* ";
  color: red;
}

.shadow, .shadow2 {
  box-shadow: 2px 2px 12px 4px rgba(0, 0, 0, 0.6);
}

.shadow3 {
  box-shadow: 3px 3px 20px 10px rgba(0, 0, 0, 0.8);
}

h2 {
  font-family: "Oleo Script Swash Caps", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 1.15;
  margin-bottom: 1.5rem;
  color: #79FF94;
  text-shadow: 2px 2px 7px #000000;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: var(--bs-primary-text-emphasis);
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #79FF94;
}

.nav-pills .nav-link {
  color: rgb(255, 255, 255);
}
.nav-pills .nav-link.lien_supprimer {
  background-color: rgba(86.9367088608, 15.0632911392, 21.9493670886, 0.5);
  color: rgb(220, 53, 69);
}
.nav-pills .nav-link.lien_supprimer:hover {
  color: rgb(255, 144, 156) !important;
  background-color: rgba(100, 0, 0, 0.6);
  box-shadow: 0 0 15px 5px rgba(128, 0, 0, 0.5);
}
.nav-pills .nav-link.active, .nav-pills .nav-link .show > .nav-link {
  background-color: rgba(10.2, 110.6307692308, 255, 0.35);
}
.nav-pills .nav-link:hover {
  color: rgb(60, 140, 255);
}

#partager {
  margin-right: 100px;
}

.modal-title {
  font-weight: 700;
}

.modal .modal-content, .offcanvas {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
}

#modale_large .modal-title, #modale_partage .modal-title {
  color: #79FF94;
}

#modale_supprimer .modal-content, #modale_supprimer .modal-header {
  border-color: rgba(220, 53, 69, 0.5);
}
#modale_supprimer .modal-content {
  background-color: rgba(43.4683544304, 7.5316455696, 10.9746835443, 0.7);
}

.modal-dialog-scrollable .modal-content {
  height: 80vh;
}

div#fond_calendrier {
  max-height: 80vh !important;
}

.category_link {
  position: relative;
  text-align: center;
  color: #FFFFFF;
}

.tenor_title {
  text-align: center;
}

.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  text-shadow: 1px 1px 4px #000000;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 2px 8px;
  border-radius: 10px;
}

#image_choisie {
  max-width: 90%;
  max-height: 80vh;
}

.offcanvas-body {
  font-size: 1.2rem;
}
.offcanvas-body .col-7 {
  text-align: right;
}

@media (min-width: 992px) {
  .colonne_liens_calendrier {
    flex: 0 0 auto;
    max-width: 300px;
  }
  .colonne_calendrier {
    flex: 1 1 auto;
  }
}

/*# sourceMappingURL=style.css.map */
