header {
	height: 80px;
}

header, .bg-header {
	background-color: #003D73;
}

main {
	background-image: url(../images/fond.jpeg);
	background-size: cover;
	background-position-x: center;
}

footer {
	background-color: #244159;

}

header *, footer *, main * {
	font-family: "Open Sans", sans-serif;
}

.paragraphe-titre {
	line-height: 1.15;
}

.carte-transparente {
	background-color: rgba(0, 0, 0, 0.5);
	border: 0;
	border-radius: 15px;
	box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
}

.form-control {
	background-color: rgba(0, 0, 0, 0.5);
}

.shadow {
	box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
}

.oleo-script {
	font-family: "Oleo Script Swash Caps", system-ui;
	font-weight: 400;
	font-style: normal;
}

.open-sans-light> {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.open-sans-regular {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.open-sans-bold {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.open-sans-bolditalic {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-style: italic;
}
