<main class="h-auto py-4">
  <div class="row align-items-start ">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <div class="card px-2 py-2 carte-transparente">
        <div class="card-body text-center">
          <p class="fs-1 mb-4 text-center paragraphe-titre oleo-script">
            Découvrez nos calendriers de l’avent numériques
            afin de plonger dans la magie de Noël !
          </p>

          <div class="row align-items-start mb-3">
            <div class="col-md-4">
              <img src="/images/calendrier_1.png" class="img-fluid shadow">
            </div>
            <div class="col-md-4">
              <img src="/images/calendrier_2.png" class="img-fluid shadow">
            </div>
            <div class="col-md-4">
              <img src="/images/calendrier_3.png" class="img-fluid shadow">
            </div>
          </div>

          <p class="fs-3 mt-4 open-sans-light paragraphe-titre">
            Sur notre site, vous pouvez créer un calendrier de l’avent<br>
            personnalisé, et l’envoyer en cadeau à vos amis.
          </p>
          <p class="fs-4 open-sans-bolditalic">
            C’est facile et gratuit grâce notre module de création en ligne.
          </p>
          <p class="fs-6 open-sans-regular">
            Vous y trouverez des modèles déjà prêts que vous pourrez modifier, ainsi que des ressources<br>
            pour ajouter des surprises. Ou ajoutez vos propres images, musiques et vidéos !
          </p>

          <a href="#" class="btn btn-success rounded-pill my-4 px-5 fs-5 open-sans-bold shadow" aria-current="page">Je commence la création</a>

        </div>
      </div>                </div>
    <div class="col-md-2">
    </div>
  </div>
</main>
