<!DOCTYPE html>
<html lang="fr" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Osez Noël</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Open+Sans:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">

  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/templates/style.css" rel="stylesheet">

</head>
<body>

<div class="container vh-100">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-0">
    <a href="/" class="d-flex align-items-center mb-0 mx-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <img src="/images/logo_osez_noel.png">
    </a>

    <ul class="nav nav-pills mt-0 mx-3">
      <li class="nav-item"><a href="#" class="nav-link active px-4 fs-5" aria-current="page">Accueil</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-4 fs-5">Connexion / Inscription</a></li>
    </ul>
  </header>