{% extends 'base.html.twig' %}

{% block content %}
   <div class="row align-items-start ">
      <div class="col-md-4 col-xxl-3 px-4 ps-md-5 pe-md-2 mb-3">
         <div class="card px-2 py-2 carte-transparente">
            <div class="card-body p-2">
               {% block sidebar_contents %}{% endblock %}
            </div>
         </div>
      </div>
      
      <div class="col-md-8 col-xxl-9 px-4  ps-md-2 pe-md-5">
         <div class="card px-2 py-2 carte-transparente">
            <div class="card-body">
               {% block page_contents %}{% endblock %}
            </div>
         </div>
      </div>
      
      
   </div>
{% endblock %}