{% extends 'base.html.twig' %}

{% block content %}
   <div class="row align-items-start ">
      <div class="col-md-4 ps-5 pe-2">
         <div class="card px-2 py-2 carte-transparente">
            <div class="card-body p-2">
               {% block sidebar_contents %}{% endblock %}
            </div>
         </div>
      </div>
      
      <div class="col-md-8 ps-2 pe-5">
         <div class="card px-2 py-2 carte-transparente">
            <div class="card-body">
               {% block page_contents %}{% endblock %}
            </div>
         </div>
      </div>
      
      
   </div>
{% endblock %}